.houseinfo{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: 30px;
    margin-bottom: 90px;
    align-items: center;
}
.housep{
    display: flex;
    width: auto;
    height:300px;
    width: 300px;
    margin-left: 40px;
}
.houseinfo1{
    margin: 40px;

}
.houseprice{
    text-align: center;
    font-weight: 20;
}
.housetitle{
    text-align: center;
}
.housedsc{
    padding: 10px;
}
@media screen and (max-width:625px){
    .houseinfo{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        margin-top: 20px;
        width: auto;
        margin-bottom: 40px;
        align-items: center;
    }
    .housep{
        display: flex;
        width: auto;
        height:300px;
        width: 300px;
        margin-left: 5px;
    }
    .houseinfo1{
        margin: 20px;
   
    }
    .houseprice{
        text-align: center;
    }
    .housedsc{
        text-align: center;
       
    }
}