.cards3{ 
    justify-content: center;
    display:flex;
    flex-wrap: wrap;

    
    transition: box-shadow .3s;

  
    
    
}
.houseprice{
    color: rgb(214 78 78);

}
.cards4{
    font-size:x-large;
    text-align: center;
    display: flex;
    align-items: flex-end;

    border-radius: 30px;
    margin: 10px;
    height: 270px;
    width: 300px;
}

.photo2{
    
    height: 200px;
}
.photo2:hover{
      border-radius: 30px;
    transition: 1s;
    transform: scale(1.05);

}